<!doctype html>
<head>
<title>메신저</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>





</head>


<nav class="navbar navbar-inverse navbar-fixed-top" style="padding-top: 10px; height: 3em;">
    <div class="navbar-inner">
            <div class="container">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target=".nav-collapse"><span class="glyphicon glyphicon-home"></span></button>
                    <a class="brand" href="#" style="color: white; font-size: large">SmartDS MSG System</a>
                </div>

                        <ul class="nav navbar-nav" style="vertical-align: middle; display: inline-block">
                        <li><a href="/message_index/0">받은 메시지</a></li>
                        <li><a href="/message_index/1">보낸 메시지</a></li>
                        <li><a href="#">보관 메시지</a></li>
                    </ul>

              </div>

            </div>
    </div>
</nav>
<div class="nav-collapse collapse" style="padding-top: 4em">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="active"><a href="/board?page=1">일반게시판</a></li>
                        {% for i in g_board_list%}
                        <li class="active"><a href="{{url_for('index', board_num=i.board_num )}}">{{i.board_name}}</a></li>
                        {% endfor %}
                        <li><a href="/message_index/0">쪽지</a></li>
                    </ul>
                    </div>


<div id="main" class="container" style="padding-top: 3em">

	<div id="main_2" class="container" style="width : 80%; margin : auto">
	    {% block body %}{% endblock %}

      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}

	</div>



	<hr>
	<footer id="footer">
				<p>messenger v1 by Daeseung Bang</p>

	</footer>
</div>